node_modules/
private/
csv/
ssl/
/sync/
dist/*.mjs.map
import-log.txt
error-log.txt
*.zip
*.exe
*.duckdb
bigquery-credentials.json
adls-config.json
*.txt
/config
.superpowers/

# .NET Build artifacts
[Bb]in/
[Oo]bj/
*.user
*.suo
config.db
*_wpftmp.csproj